body {
  background-color: #050505;
}
.glass {
  background: rgba(0, 0, 0, 0.823);

  backdrop-filter: blur(0.6px);
  -webkit-backdrop-filter: blur(1.5px);
}
.glassCircle {
  background: rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
}
.glassCircleStrong {
  background: rgba(0, 0, 0, 0.597);

  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
}
.glassCard {
  background: rgba(255, 255, 255, 0.065);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.glassCard :hover {
  background: rgba(255, 255, 255, 0.085);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.line-clamp-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #f4f4f41c;
  border-radius: 100px;
}
